body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

/* HEADER */ 
.header { 
   background-color: rgb(4, 189, 87);
   padding: 20px;

}

.header a {
   margin-left: 80px;
   font-size: x-large;
   text-decoration: none;
   font-weight :bold;
   color : white;
   cursor: pointer;
}

/* MAIN */
.main {
padding-top: 20px;
}

.container-main-header {
   width: 900px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: auto;
   padding: 7px;
   border: 1px solid  rgb(1, 107, 49);
   margin-bottom: 5px;
   border-radius: 3px;
}

.container-main-header h1 {
   font-size:x-large;
   color:  rgb(4, 189, 87);
   font-weight: bold;
   padding: 10px;
   margin: 10px;
}

.container-main-header a {
    background-color:rgb(4, 189, 87);
    color:  white;
    border: none;
    border-radius: 3px;
    font-size :medium;
    padding: 13px;
    margin: 7px;
    width: 57px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

/* FORM */ 
.container-main {
width: 900px;
padding: 7px;
margin: auto;
border: 1px solid rgb(3, 100, 47);
border-radius: 3px;
}

.container-main .form {
    padding: 20px;
}

label {
    font-size: medium;
    font-weight: bold;
    padding: 5px;
}

input{
    width: 100%; 
    padding: 13px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid rgb(3, 116, 53);
    border-radius: 3px;
    cursor: pointer;
}

input:focus {
    border-color:rgb(6, 180, 84);
}

.form{
    position: relative;

}

.olho {
    width: 20px;
    position: absolute;
    cursor: pointer;
    right: 30px;
    top: 50px;
}

.but {
    display: flex;
    justify-content: end;
}

button{
    padding: 13px;
    margin: 7px;
    width: 100px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(4, 153, 71);
    color: white;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}